<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
   <connectionStrings>
      <add name="NewMainDb" connectionString="Provider=SQLOLEDB;Data Source=NEWMAINDB; Initial Catalog=db_office; Connect Timeout=0; user id = 'pos_user';password ='H3Gbs27Y'; Use Procedure for Prepare=1;Auto Translate=False;Packet Size=4096;Workstation ID=NETSERVER;Use Encryption for Data=False;Tag with column collation when possible=False;Network Library =dbmssocn" providerName="System.Data.OleDb"/>
   </connectionStrings>
   <appSettings>
      
      <add key="APIAuthorization" value="Bearer isgttzmPZ3bE4tT92drI6K6IQh8sYI3ooPHgoKfzqJQ="/>
      <add key="APIRefundURL" value="https://api.zipmoney.com.au/merchant/v1/refunds"/>
      <add key="APIVersion" value="2017-03-01"/>
   </appSettings>
</configuration>
